<div id='hello'>Hello World!</div>

<%= link_to 'New Image', new_image_path %>

<% @images.each do |image| %>
  <p>
    <%= image_tag(image.link, class: 'img-width-restrict' ) %>
    <br>created at: <%= image.created_at %>
  </p>
<% end %>

